body {
    color: white;
    font-size: 30px;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
.header {
    background-color: #3d3c66;
    height: 200px;
    margin-bottom: 10px;
    
}
.content {
    background-color: #3d3c66;
    min-height: 500px;
    width: 70%;
    float: left;

}
.sidebar {
    background-color: #3d3c66;
    min-height: 500px;
    width: 30%;
    float: left;
}
.footer {
    background-color: #3d3c66;
    height: 200px;
    margin-top: 10px;
}